.topmenu a {
  color: black;
  text-decoration: none;
}

.ui.container {
  margin: 18px;
  font-size: 16px;
  font-weight: bold;
}
.ui.container .fitted.item.image img {
  width: 172px;
}


.part1{
  background-image: url("https://cdn.shopify.com/s/files/1/0745/1299/t/9/assets/h2017-section1-bg.jpg?1627593615616708273");
  color: white;
}

.hero {
  height: 500px;
  width: 100%;
}

.footer-background {
  background-color: #004030;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.h1{
  font-size: 50px;
}